*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', 'Poppins', sans-serif;
}

.outer{
    width: 100%;
    height: 3250px;
    border: .5px solid green;
}

.top{
    width: 100%;
    height: 650px;
    border: .5px solid blue; 
    /*background-color: aqua;*/
    background-image:url(https://themedemos.download/ld/perela-demo/assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.top::after{
    content: "";
    background-image: url(https://themedemos.download/ld/perela-demo/assets/images/bg,jpg) ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    opacity: 0.18;
    z-index: -1;
}

.nav{
    width: 100%;
    height: 80px;
    border: 2px solid white; 
    position: fixed;
    padding: 2px;
}

.logo{
    width: 40%;
    height: 100px;
    font-size: 60px;
    padding-left: 15px;
    float: left;
    font-family: Brush Script Mt;    
    color: #fff;
    margin-bottom: 15px;
    
}

.topnav {
    width: 60%;
    height: 100px;
    text-decoration: none;
    position: relative;
    float: right;
    margin-bottom: 5px;
  }
  

  .topnav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 10px;
    float: left;
  }
  

  .topnav a:hover {
    color: green;
  }
  
 .container{
    width: 100%;
    height:500px;
    /*border: 1px solid gold;*/
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 70px;      
 } 


 .row p{
    font-size:120px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 200;
    position: relative;
 }

a.home-button {
        display: inline-block;
        background: #fff;
        padding: 15px 30px;
        border-radius: 25px;
        color: #000;
        margin-top: 40px;
        text-decoration: none;
        font-size: 25px;
}

.personal{
    width: 100%;
    height: 550px;
    background-color: #fff;
    border: 1px solid #ff1100;
}

.picture{
width: 40%;
height: 548px;
border: 1px solid green;
float: left;
}



.details{
    width: 60%;
    height: 550px;
    background-color: #f5f5f5;
    border: 1px solid rgb(192, 241, 12);
    float: left;
}

 .details h2{
    font-size: 70px;
    color: #000;
    position: relative;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
 }

 .details p{
    font-weight: 200;
    font-size: 18px;
    color: #000;
    position: relative;
    margin-top: 40px;
   justify-content: center;
   margin-left: 35px;
 }


 a.about-button {
    display: inline-block;
    background: #333;
    padding: 15px 40px;
    border-radius: 30px;
    color: #fff;
    margin-top: 60px;
    margin-left: 40px;
    text-decoration: none;
    
}

.work{
    width: 100%;
    height: 600px;
    /*border: 1px solid green;*/
    margin: 0 auto;
    background-color: #f5f5f5;
}


.col1{
    width: 20%;
    height: 300px;
    border: 1px solid green;
    float: left;
    margin-left:  220px ;
    margin-top: 150px;
    background-color: #fff;
} 

.service-icon{
    text-align: center;
    margin-top: 100px;
}

.service-icon .i{
    font-size: 60px;
    margin-bottom: 20px;
    color: #333;
}

.service-icon p {
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 25px;
}

.service-icon h2{
    font-size: 26px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 40px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #333;
    font-weight: 400;
    position: relative;
}

.col2{
    width: 20%;
    height: 300px;
    border: 1px solid green;
    float: left;
    margin-left: 30px;
    margin-top: 150px;
    background-color: #fff;
} 

.col3{
    width: 20%;
    height: 300px;
    border: 1px solid green;
    float: left;
    margin-left: 30px;
    margin-top: 150px;
    background-color: #fff;
} 

.portfolio{
    width: 100%;
    height: 700px;
    border: 1px solid brown;
    margin: 0 auto;
    background-color: #fff;
}

.heading{
    width: 100%;
    height:100px;
    border: 1px solid yellowgreen;
}

.heading h1{
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    color: rgb(33, 36, 23);
}

.designs{
    width: 100%;
    height:600px;
    border: 1px solid blue;
    margin-left: 52px;
}

.design1{
    width: 30.3%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;;
}


.design2{
    width: 30.3%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;
}


.design3{
    width: 30.4%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;
}


.design4{
    width: 30.3%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;
}


.design5{
    width: 30.3%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;

}


.design6{
    width: 30.4%;
    height: 300px;
    border: 1px solid yellowgreen;
    float: left;
}

.contact{
    width: 100%;
    height: 700px;
    border: 1px solid royalblue;
    background: #FAFAFA;
    margin-top: 50px;
}


.bold_text{
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
    border: 1px solid chocolate;
    padding-top: 50px;
    font-style: inherit;
    color: #888;  
}

.personalinfo{
    width: 40%;
    height:450px;
    border: 1px solid darkmagenta;
    float: left;  
}

.contact-info {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 65px;
}

.contact-info i {
    font-size: 40px;
    color: #333;
}


.contact-info fa {
    display: inline-block;
    font: normal ;
    visibility: visible;
    
}


.contact-info p {
    display: block;
    margin-block-start: 15px;

}

.form{
    width: 60%;
    height:450px;
    border: 1px solid rgb(0, 139, 35);
    float: right;
    padding-top: 50px;
    margin-bottom: 30px;
   
}

.form-group {
    width: 100%;
    height: 50px;
    display: block;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    
    
}

  

.text-success h6{
    text-align: center;
    background: #3c763d;
    color: #fff;
    padding: 20px;
    display: none;
}


.text-danger h6{
    text-align: center;
    background: red;
    color: #fff;
    padding: 20px;
    display: none;
}


.form button {
    width: 220px;
    color: #fff;
    padding: 16px 35px;
    font-size: 14px;
    background-color: #000;
    font-weight: 600;
    border-radius: 20px;
}


.footer{
  width: 100%;
  height: 100px;
  padding: 15px;
  font-size: 15px;
  float: left; 
  /*border: 1px solid orange;*/
  
}


.footer_text{
  text-align: center;
  color: #888; 
  padding-top: 20px;
}

